.banner-container {
    display: flex;
    flex-direction: column;
    min-height: 823px;
}

.banner {
    position: relative;
}

.banner:before {
    position: absolute;
    content: "";
    top: 10%;
    left: 40%;
    width: 675px;
    min-height: 762px;
    background-image: url("../image/gameoverVRman.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.banner__title {
    font-weight: 900;
    font-size: 150px;
    line-height: 150px;
    text-transform: uppercase;
}

.banner__text {
    font-size: 28px;
    color: var(--main-color);
    line-height: 50px;
}

.banner-block-text {
    margin-bottom: 65px;
}

.banner-block-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    margin-bottom: 150px;
}

.banner-block-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    max-width: 193px;
    text-align: center;
}

.banner-block-column-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    width: 166px; 
}

.banner-block-column__text-color {
    font-size: 100px;
    font-weight: 900;
    line-height: 141px;
    color: var(--light-purple-color);
}

.banner-block-column-small__text-color-small {
    font-size: 75px;
    font-weight: 900;
    line-height: 106px;
    color: var(--light-purple-color);
}

.banner-block-column__text,
.banner-block-column-small__text {
    font-size: 30px;
    line-height: 35px;
}

.button-banner-color {
    text-align: center;
    align-content: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: var(--dark-purple-color);
    color: var(--main-color);
    padding: 17px 48px;
}

.button-banner-down {
    display: flex;
    justify-content: center;
    z-index: 1;
    background-color: transparent;
    border: none;
}

.button-banner-color:hover {
    background-color: #840AA3;
    border: none;
}

.button-banner-color:active {
    background-color: #640AA3;
    border: none;
}

.button-banner-color:focus {
    background-color: #840AA3;
    border: none;
}

.banner__svg {
    display: block;
    width: 97px;
    height: 97px;
    outline: 1px solid transparent;
    fill: transparent;
    outline-offset: 3px;
    transition-property: color, outline-colot;
    transition-duration: 0.3s, 0.2s;
    transition-timing-function: ease-in-out;
}

.banner__svg rect {
    fill: var(--main-color);
}

.banner__svg:hover {
    fill: var(--main-color);
    transition: all 0.4s linear;
}

.banner__svg:hover rect {
    fill-opacity: 1;
    fill: #840AA3;
    stroke-opacity: 0;
}

.banner__svg:active {
    fill: #840AA3;
    transition: all 0.4s linear;
}

.banner__svg:active rect {
    fill-opacity: 1;
    fill: var(--main-color);
    stroke-opacity: 0;
}

.banner__svg:active {
    outline: 1px solid #840AA3;
}

@media (max-width: 1370px) {
    .banner:before {
        width: 625px;
        min-height: 762px;
    }
}

@media (max-width: 1290px) {
    .banner:before {
        top: 17%;
        left: 35%;
    }
}

@media (max-width: 1250px) {
    .banner__title {
        font-size: 130px;
        line-height: 130px;
    }
}

@media (max-width: 1210px) {
    .banner:before {
        left: 33%;
    }
}

@media (max-width: 1150px) {
    .banner:before {
        width: 580px;
        left: 35%;
    }
}

@media (max-width: 1120px) {
    .banner:before {
        left: 30%;
    }
}


@media (max-width: 1024px) {

    .banner-block-text {
        margin-bottom: 58px;
    }

    .banner:before {
        top: 22%;
        left: 50%;
        width: 453px;
        min-height: 520px;
    }

    .banner__title {
        font-size: 120px;
        line-height: 120px;
        margin-bottom: 20px;
    }
    
    .banner__text {
        font-size: 22px;
        line-height: 30px;
    } 

    .banner-block-column__text-color {
        font-size: 80px;
        list-style: 113px;
    }

    .banner-block-column__text,
    .banner-block-column-small__text {
        font-size: 26px;
        line-height: 30px;
    }

    .banner-block-column-small__text-color-small {
        font-size: 60px;
        line-height: 85px;
    }

    .button-banner-color { 
        font-size: 22px;
    }

    .banner-block-wrapper {
        margin-bottom: 80px;
    }

    .banner__svg {
        width: 67px;
        height: 67px;
    }
}


@media (max-width: 768px) {

    .banner__title {
        font-size: 86px;
        line-height: 86px;
    }

    .banner__text {
        font-size: 18px;
        line-height: 24px;
    } 

    .banner-block-text {
        margin-bottom: 65px;
    }

    .banner-block-column__text-color {
        font-size: 50px;
        line-height: 70px;
    }

    .banner-block-column__text,
    .banner-block-column-small__text {
        font-size: 16px;
        line-height: 18px;
        max-width: 100px;
    }

    .banner-block-column-small__text-color-small {
        font-size: 40px;
        line-height: 56px;
    }

    .button-banner-color { 
        font-size: 16px; 
        line-height: 24px;
    }

    .banner-block-wrapper {
        column-gap: 30px;
        margin-bottom: 100px;
    }

    .banner:before {
        left: 40%;
        width: 409px;
        min-height: 479px;
    } 

    .banner__svg {
    display: none;
    }
}

@media (max-width: 320px) {

    .banner-container {
        min-height: 204px;
        border: 1px solid green;
    }

    .banner__title {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 6px;
    }

    .banner__text {
        font-size: 10px;
        line-height: 14px;
    } 

    .banner-block-text {
        margin-bottom: 16px;
    }

    .banner-block-column__text-color {
        font-size: 26px;
        line-height: 37px;
    }

    .banner-block-column__text,
    .banner-block-column-small__text {
        font-size: 10px;
        line-height: 11px;
        max-width: 65px;
    }

    .banner-block-column-small__text-color-small {
        font-size: 22px;
        line-height: 31px;
    }

    .banner-block-column-small {
        align-items: start;
        text-align: start;
    }

    .button-banner-color { 
        font-size: 10px; 
        line-height: 12px;
    }

    .banner-block-wrapper {
        column-gap: 20px;
        margin-bottom: 30px;
    }

    .button-banner-color {
        padding: 8px 13px;
    }

    .banner:before {
        top: 20%;
        left: 43%;
        width: 167px;
        min-height: 179px;
    } 
}



