.form {
    background-color: #440F51;
}

.booking__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px;
}

.booking__title-small {
    font-size: 24px;
    line-height: 28px;
    font-weight: var(--main-weight);
    text-align: center;
    margin-bottom: 40px;
}

.booking__choose-room {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.booking__subtitle-legent-title, 
.booking__subtitle-legent{
    font-size: 24px;
    line-height: 28px;
    font-weight: var(--main-weight);
    text-align: center;
    margin-bottom: 23px;
}

.booking__block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.booking__label {
    display: flex;
    gap: 20px;
    font-size: 22px;
    line-height: 25px;
}

.booking__label:not(:last-child) {
    margin-bottom: 20px;
}

.booking-radio-label {
    font-size: 30px;
    line-height: 40px;
    font-weight: var(--main-weight);
    color: #000000;
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 7px 30px;
    text-transform: uppercase;
    border: 3px solid transparent;
}

input[type="radio"] {
    width: 27px;
    height: 27px;
    outline-offset: 2px;
    background: transparent;
    outline: 1px solid transparent;
    transition-duration: 0.3s, 0.2s;
}

input[type="radio"]:focus {
    outline: 1px solid var(--light-purple-color);
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.booking {
    padding: 0;
}

fieldset {
    border: none;
    padding: 0;
}

input[type="time"].booking__date-size,
input[type="date"].booking__date-size {
    text-align: center;
}

input[type="date"],
input[type="time"] {
    width: 134px;
    height: 52px;
}

input[type="text"],
input[type="tel"] {
    width: 300px;
    height: 52px;
}

.block-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.booking__wrapper-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    align-items: end;
    gap: 36px 32px;
}

.booking__wrapper-name,
.booking__wrapper-phone,
.booking__wrapper-surname,
.booking__wrapper-email {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16px;
}

.booking__wrapper-block-interval {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.booking__input-number,
.booking__input-phone,
.booking__input-email,
.booking__input-name,
.booking__input-surename  {
    text-align: center ;
}

.booking__button-block-date {
    display: flex;
    justify-content: end;
}

.button {
    font-size: 22px;
    font-weight: var(--main-weight);
    line-height: 28px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: var(--dark-purple-color);
    padding: 16px 50px;
    border: 3px solid transparent;
}

.booking-radio-label:hover {
    background-color: #EADEED;
    border: 3px solid #640AA3;
}

.booking-radio-label:active {
    background-color: var(--dark-purple-color);
    border: 3px solid var(--main-color);
}

.booking-radio-label:focus {
    background-color: var(--main-color);
    border: 3px solid #640AA3;
}

.button:hover {
    background-color: #EADEED;
    border: 3px solid var(--dark-purple-color);
}

.button:active {
    background-color: #EADEED;
    border: none;
}

.button:focus {
    background-color: var(--main-color);
    border: 3px solid var(--dark-purple-color);
}

.booking__input-phone:focus {
    background-color: var(--main-color);
    border: 2px solid var(--light-purple-color);
}

input[type="tel"]:focus {
    outline: none;
}

.booking__input-email:focus,
.booking__input-number:focus,
.booking__input-name:focus,
.booking__input-surename:focus {
    background-color: var(--main-color);
    border: 2px solid var(--light-purple-color);
}

input[type="text"]:focus {
    outline: none;
}

.booking__time-size:focus,
.booking__date-size:focus {
    background-color: var(--main-color);
    border: 2px solid var(--light-purple-color);
}

input[type="date"]:focus {
    outline: none;
}

input[type="time"]:focus {
    outline: none;
}


@media all and (max-width: 1400px) {

    .booking__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
    }

    .booking-radio-label {
        font-size: 20px;
        line-height: 24px;
        padding: 7px 15px;
    }
}

@media all and (max-width: 1240px) {

    input[type="text"] {
        width: 260px;
    }

    input[type="tel"] {
        width: 260px;
    }

    input[type="text"].booking__input-number {
        width: 300px;
    }

    .button {
        font-size: 18px;
        line-height: 24px;
        padding: 15px 50px;
    } 
}

@media all and (max-width: 1120px) {

    input[type="text"] {
        width: 251px;
    }

    input[type="tel"] {
        width: 252px;
    }

    .booking__wrapper-block {
        gap: 10px 30px;
    }

    .button {
        font-size: 17px;
        line-height: 23px;
        padding: 15px 45px;
    } 
}


@media all and (max-width: 1080px) {

    input[type="text"] {
        max-width: 241px;
    }

    input[type="tel"] {
        max-width: 241px;
    }

    input[type="text"].booking__input-number {
        max-width: 280px;
    }

    .booking__wrapper-block {
        gap: 10px 10px;
    }
}

    @media all and (max-width: 1024px) {

    input[type="text"] {
        width: 251px;
    }

    input[type="tel"] {
        width: 254px;
    }

    input[type="text"].booking__input-number {
        width: 300px;
    }

    .button {
        font-size: 18px;
        line-height: 24px;
        padding: 13px 45px;
    } 
}

@media all and (max-width: 855px) {

    .booking__block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content);
        gap: 32px 66px;
        margin-bottom: 50px;
    }

    .booking-fieldset-console {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .booking-fieldset-table-games {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .booking-fieldset-karaoke {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .booking__title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
    }

    .booking-radio-label {
        font-size: 16px;
        line-height: 20px;
        padding: 9px 20px;
    }


    .booking__subtitle-legent {
        margin-bottom: 24px;
        text-align: start;
    }

    .booking__choose-room {
        margin-bottom: 50px;
    }

    .block-date {
        display: flex;
        flex-direction: column;
    }
    
    .booking__wrapper-block {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 10px;
    }

    .booking__wrapper-block-interval-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    input[type="text"].booking__input-name,
    input[type="tel"].booking__input-phone {
        width: 280px;
    }

    input[type="text"].booking__input-surename,
    input[type="text"].booking__input-email {
        width: 300px;
    } 

    .booking__label-time {
        margin-right: 95px;
    }

    .button {
        font-size: 22px;
        line-height: 28px;
        padding: 16px 50px;
    }
}


@media all and (max-width: 720px) {
    .booking__wrapper-block {
        display: grid;
        grid-template-columns: 134px 134px 300px;
        grid-template-rows: 1fr, 52px;
        gap: 15px 12px;
        margin-bottom: 35px;
    }

    .booking__date-size {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .booking__date-size-time {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .booking__input-number {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .booking__wrapper-block-interval {
        display: flex;
        flex-wrap: wrap;
    }

    .booking__wrapper-block-interval-row {
        justify-content: center;
        gap: 20px;
    }

    .booking__button-block-date {
        justify-content: center;
    }
} 

@media (max-width: 666px) {
    .booking__wrapper-block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3);
        justify-content: center; 
        margin: 0 auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .booking__label-time,
    .booking__label-date {
        margin: 0 auto;
    }

    input[type="date"].booking__date-size,
    input[type="time"].booking__date-size,
    input[type="text"].booking__input-name,
    input[type="tel"].booking__input-phone {
        width: 300px;
    }

    .booking__wrapper-surname {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 420px) {

    .booking__block {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .booking__title {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 13px;
    }

    .booking-radio-label {
        font-size: 14px;
        line-height: 18px;
        padding: 6px 20px;
    }

    .booking__title-small {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .booking__choose-room {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        gap: 20px 14px;
    }

    .booking__choose-room-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .booking__wrapper-block {
        display: grid;
        grid-template-columns: repeat(2, 134px);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px 12px;
        margin-bottom: 35px;
        justify-content: center;
    }

    .booking__date-size {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .booking__date-size-time {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .booking__input-number {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }


    .booking__wrapper-block-interval {
        display: flex;
        flex-wrap: wrap;
    }

    .booking__wrapper-block-interval:not(:last-child) {
        margin-bottom: 35px;
    }

    .booking__subtitle-legent{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    .booking__label {
        gap: 15px;
        font-size: 16px;
        line-height: 18px;
        min-height: 30px;
        align-items: center;
    }

    .booking__label:not(:last-child) {
        margin-bottom: 15px;
    }

    .booking__subtitle-legent{
        margin-bottom: 25px;
    }

    input[type="text"].booking__input-name,
    input[type="tel"].booking__input-phone,
    input[type="text"].booking__input-surename,
    input[type="text"].booking__input-email,
    input[type="text"].booking__input-number {
        width: 280px;
    }

    input[type="date"].booking__date-size,
    input[type="time"].booking__date-size {
        width: 134px;
    }


    .booking__input-number {
        text-align: start;
    }

    .booking__button-block-date {
        justify-content: center;
    }

    .button {
        line-height: 26px;
        padding: 17px 38px;
    } 

    .block-date {
        margin-bottom: 35px;
    }
}










