.form__block {
    background-color: #440F51;
    max-width: 1440px;
    min-height: 1114px;
    padding-top: 80px;
}


.booking__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    max-width: 1180px;
    margin-bottom: 40px;
}

.booking__title2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    max-width: 1180px;
    margin-bottom: 40px;
}

.booking__choose-room {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin-bottom: 60px;
}

.booking__button {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #000000;
    background-color: #fff;
    border-radius: 10px;
    width: 250px;
    height: 55px;
}

.booking__subtitle-legent{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.booking__subtitle-legent_margin {
    margin-bottom: 23px;
}


.booking__block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.booking__different-games {
    display: flex;
    flex-direction: column;
}

.booking__label {
    display: flex;
    gap: 20px 20px;
}

.booking__label:not(:last-child) {
    margin-bottom: 20px;
}

input[type="radio"] {
    width: 27px;
    height: 27px;
    outline-offset: 2px;
    background: transparent;
    outline: 1px solid transparent;
    transition-duration: 0.3s, 0.2s;

}

input[type="radio"]:focus {
    outline: 1px solid #CD06FF;
}


input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.booking {
    padding: 0;
}

fieldset {
    border: none;
}

.booking__date-size,
.booking__time-size {
    width: 134px;
    height: 52px;
}

.block-date {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
}

.booking__wrapper-block {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    width: 300px;
    row-gap: 36px;
    column-gap: 32px;
    padding: 0;
}

.booking__wrapper-name,
.booking__wrapper-phone,
.booking__wrapper-surname,
.booking__wrapper-email {
    display: flex;
    flex-direction: column;
}

.booking__wrapper-block-interval {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding: 0;
}

.booking__input-number,
.booking__input-phone,
.booking__input-email {
    text-align: center ;
    min-width: 300px;
    height: 52px;
}

.booking__input-name,
.booking__input-surename {
    text-align: center ;
    min-width: 280px;
    height: 52px;
}

.booking__button-block-date {
    display: flex;
    justify-content: end;
    max-width: 1080px;
}

.button {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    min-width: 300px;
    height: 60px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #fff;
    color: #6C0287;
}

.booking__button_pseudo:hover {
    background-color: #EADEED;
    border: 3px solid #640AA3;
}

.booking__button_pseudo:active {
    background-color: #6C0287;
    border: 3px solid #fff;
}

.booking__button_pseudo:focus {
    background-color: #fff;
    border: 3px solid #640AA3;
}

.button:hover {
    background-color: #EADEED;
    border: 3px solid #6C0287;
}

.button:active {
    background-color: #EADEED;
    border: none;
}

.button:focus {
    background-color: #fff;
    border: 3px solid #6C0287;
}

.booking__input-phone:focus {
    background-color: #fff;
    border: 2px solid #CD06FF;
}

input[type="tel"]:focus {
    outline: none;
}