.faq__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.faq__item {
    background-color: #fff;
    color: #1C1C1C;
    padding: 30px 70px;
    font-weight: 700;
    font-size: 24px;
}











.faq__item:hover .faq__item-btn-white {
    background-color: #fff;
}

.faq__item:hover .faq__item-btn-purple {
    background-color: #440F51;
}

.faq__item:not(:last-child) {
    margin-bottom: 20px;
}

.faq__item:nth-child(2n) {
    color: #fff;
    background-color: #440F51;
    list-style-type: none;
}

.faq__item-btn-white:after,
.faq__item-btn-purple:after {
    content: "+";
    display: block;
    font-size: 28px;
}

.faq__item-btn-white {
    position: relative;
    float: right;
    top: -10px;
    width: 46px;
    height: 46px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 200ms linear, color 200ms linear;
    color: #440F51;
}

.faq__item-btn-purple {
    position: relative;
    float: right;
    top: -10px;
    width: 46px;
    height: 46px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #440F51;
    transition: background-color 200ms linear, color 200ms linear;
    color: #fff;
}

.faq__item-btn-white {
    border-color: #440F51;
}

.faq__item-btn-purple {
    border-color: #fff;
}

.faq__item-btn-white:active:after,
.faq__item-btn-purple:active:after {
    content: "―";
}

.faq__item-btn-white:active {
    background-color: transparent;
    color: #440F51;
}

.faq__item-btn-purple:hover {
    background-color: #fff;
    color: #440F51;
}

.faq__item-btn-purple:active {
    background-color: transparent;
    color: #fff;
}

.faq__item-hover-white:hover:nth-child(even) {
    background-color: #fff;
    color: #440F51;
}

.faq__item-hover-purple:hover:nth-child(odd) {
    background-color: #440F51;
    color: #fff;
}

.faq__item-hover-purple:hover .faq__item-hover-white:nth-child(even) {
    background-color: #fff;
    color: #440F51;
}