.header-vibes {
    padding-top: 38px;
}          

.container__header-vibes-grid-menu {
    display: none;
}

.container__header-vibes-grid {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-template-rows: 1fr;
    margin-bottom: 60px;
}

.navigation__list-grid {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    row-gap: 40px;
}

.navigation__item-grid:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.navigation__item-grid:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.navigation__item-grid:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.navigation__item-grid:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.navigation__item-grid:nth-child(5) {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.btn-grid {
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 3px solid var(--light-purple-color);
    padding: 12px 32px 13px 32px;
    cursor: pointer;
    color: var(--main-color);
}

.header-button-back {
    color: var(--main-color);
}

.header-button-link {
    font-size: 22px;
    line-height: 28px;
    font-weight: var(--main-weight);
}

.header-button-link:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 20px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    margin-right: 10px;
}

@media (max-width: 1124px) {
    section {
        padding: 35px 0;
    }

    .container__header-vibes-grid {
        margin-bottom: 50px;
    }

    .navigation__link-heder {
        font-size: 20px;
        line-height: 20px;
    }

    .btn-grid {
        justify-self: center;
    }
}

@media (max-width: 1024px) {

    .container__header-vibes-grid-logo {
        max-width: 87px;
    }

    .navigation__link-header {
        line-height: 22px;
        font-size: 18px;
    }

    .header-button-link {
        font-size: 28px;
        line-height: 24px;
    }

    .btn-grid {
        font-size: 18px;
        line-height: 24px;
        padding: 10px 26px 11px 26px;
    }
}

@media (max-width: 950px) {

    .header {
        padding-top: 32px;
    }  

    .container__header-vibes-grid {
        justify-content: space-around;
        margin-bottom: 40px;
    }

    .navigation__list-grid {
        display: none;
    }

    .container__header-vibes-grid-menu {
        display: block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
    }

    .container__header-vibes-grid-logo {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        max-width: 85px;
        align-self: center;
    }

    .btn-grid {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        font-size: 18px;
        padding: 10px 26px;
    }
}

@media (max-width: 768px) {

    .btn-grid {
        display: none;
    }

    .header__menu-rgid {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
        width: 39px;
    }

    .container__header-vibes-grid-logo {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        max-width: 66px;
        align-self: center;
    }
}

@media (max-width: 660px) {

    .btn-grid {
        display: none;
    }
}


@media (max-width: 320px) {

    .container__header-vibes-grid {
        margin-bottom: 20px;
    }

    .header-button-link {
        font-size: 12px;
        line-height: 16px;
    }

    .header-button-link:before {
        width: 16px;
        height: 20px;
        margin-right: 5px;
    }
}






