.header__menu {
    display: none;
}

.container__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.navigation {
    display: flex;
}

.navigation__list {
    display: inline-flex;
    align-self: center;
    gap: 40px;
}

.navigation__link {
    font-size: 22px;
    line-height: 50px;
    text-transform: uppercase;
}

.btn {
    display: flex;
    align-self: center;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 3px solid var(--light-purple-color);
    padding: 12px 32px 13px 32px;
    color: var(--main-color);
}

.btn:hover {
    background-color: var(--dark-purple-color);
    border: 3px solid var(--dark-purple-color);
}

.btn:active {
    background-color: #640AA3;
    border: 1px solid #000;
}

.btn:focus {
    background-color: var(--dark-purple-color);
    border: none;
}

.navigation__item:hover {
    transition-duration: 1s;
    color: var(--light-purple-color);
    border-radius: 10%;
}

@media (min-width: 1024px) and (max-width: 1300px) {

    .header__logo {
        max-width: 87px;
    }

    .navigation__link {
        font-size: 18px;
        line-height: 22px;
    }

    .btn {
        font-size: 18px;
        line-height: 24px;
        padding: 10px 26px 11px 26px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .navigation__list {
        display: none;
    }

    .container__header {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: auto;
        align-items: center;
        border: 1px solid red;
    }

    .header__logo {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .header__menu {
        display: block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .btn {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .btn {
        display: none; /*не работает*/
    }

    .header__logo {
        max-width: 66px;
    }
}




