.relax {
    min-height: 708px;
}

.relax__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 41px;
}

.relax__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
    min-height: 566px;
}

.relax__item {
    position: relative;
    display: block;
    width: 380px;
    height: 228px;
    overflow: hidden;
}

.relax__item_image-vr {
    background-image: url(../img/vr.jpg);
}

.relax__item_image-audio {
    position: relative;
    top: 60px;
    background-image: url(../img/audio.jpg);
}

.relax__item_image-micro {
    background-image: url(../img/micro.jpg);
}

.relax__item_image-game {
    background-image: url(../img/game.jpg);
}

.relax__item_image-netflix {
    position: relative;
    top: 60px;
    background-image: url(../img/netflix.jpg);
}

.relax__item_image-sony {
    background-image: url(../img/sony.jpg);
}

.relax__text {
    position: relative;
    top: 166px;
    left: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    width: 300px;
}

.relax__item_image-transform {
    transition-timing-function: linear;
    transition-duration: 0.4s;
}

.relax__item_image-transform:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    cursor: pointer;
}

