.rooms__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 60px;
}

.rooms__item {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.rooms__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.rooms__item_image-vibes {
    background-image: url("../image/vibes.jpg");
}

.rooms__item_image-starwars {
    background-image: url("../image/starwars.jpg");
}

.rooms__item_image-wildwest {
    background-image: url("../image/wildwest.jpg");
}

.rooms__item_image-neon {
    background-image: url("../image/neon-sryle.jpg");
}

.room__items_size {
    width: 580px;
    height: 349px;
}


.rooms__link_text {
    position: absolute;
    top: 94px;
    left: 164px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    width: 252px;
    height: 160px;
}