
.address-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--main-weight);
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
}

.address__location-img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 37px;
}

.address__text {
    display: inline-block;
    vertical-align: middle;
    color: var(--main-color);
    font-weight: var(--main-weight);
    font-size: 24px;
    line-height: 28px;
}

.address__item_contact-text {
    margin-bottom: 38px;
}
.address__item_contact-phone {
    margin-bottom: 11px;
}

.address {
    margin-bottom: 39px;
}

.address__location-phone {
    margin-right: 36px;
}

.address__location-mail {
    margin-right: 27px;
}

.address__mail,
.address__phone {
    color: var(--main-color);
    text-decoration: none;
    font-weight: var(--main-weight);
    font-size: 24px;
    line-height: 28px;
}

/* .block-adress__map {
    position: relative;
} */

/* .block-adress__map:before {
    position: absolute;
    content: "";
    width: 680px;
    height: 274px;
    left: 500px;
    top: -300px;
    background-image: url("/image/map.jpg");
} */

.address-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 145px;
}

.contacts__copyright {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
}

.contacts__gameover-text,
.contacts__develop-text {
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 1300px) {
    .address__text {
        max-width: 264px;
    }
}

@media (max-width: 1024px) {
    .contacts {
        align-items: center;
    }

    .contacts {
        justify-content: space-between;
    }

    .address__item_contact-phone {
        margin-bottom: 7px;
    }

    .address {
        margin-bottom: 30px;
    }

    .contacts {
        margin-bottom: 92px;
    }
}

@media (max-width: 768px) {

    .contacts {
        display: flex;
        flex-direction: column;
    }

    .address-social {
        align-items: center;
        width: 100%;
    }

    .contacts {
        margin-bottom: 75px;
    }
}

@media (max-width: 420px) {
    .address-title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    
    .address__text {
        font-size: 14px;
        line-height: 18px;
    }

    .address__phone {
        font-size: 14px;
        line-height: 18px;
    }

    .address__mail {
        font-size: 14px;
        line-height: 18px;
    }

    .address__item_contact-text,
    .address__item_contact-mail {
        margin-bottom: 10px;
    }

    .address__item_contact-phone {
        margin-bottom: 10px;
    }
    
    .address__location-img {
        margin-right: 0;
    }
    
    .address__location-phone {
        margin-right: 8px;
    }
    
    .address__location-mail {
        margin-right: 3px;
    }

    .block-adress-map {
        align-items: end;
    }

    .contacts {
        margin-bottom: 63px;
    }
}